<h1> Log a New Artist </h1>

<form action="/artists" method="POST">
  <label for="a_name">Name</label>
  <input type="text" name="artist[name]" id="a_name"/>

  <label for="a_age">Age</label>
  <input type="number" name="artist[age]" id="a_age"/>

  <label for="a_bio">Bio</label>
  <input type="text" name="artist[bio]" id="a_bio"/>

  <input type="submit" name="Submit"/>
</form>
